<div class="eventName"><%= @event.name %></div>
<a href="#" class="js-next" data-id="<%=@event.id%>">Next...</a>
<h1 class="eventLocation"><%= @event.location %></h1>
<p class="eventDescription"><%= @event.description %></p>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function() {
    const nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.getJSON("/events/" + nextId + ".json", function(data) {
      $(".eventName").text(data["name"]);
      $(".eventLocation").text(data["location"]);
      $(".eventDescription").text(data["description"]);
      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
    });
    return false;
  });
});
</script>