html { 
    background: url('concert-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    color: rgb(233, 232, 206)
}
*{
    box-sizing: border-box;
    -webkit-transition: all .5s ease-in-out;
   -moz-transition: all .5s ease-in-out;
   -ms-transition: all .5s ease-in-out;
   -o-transition: all .5s ease-in-out;
   transition: all .5s ease-in-out;}
body {
    margin: 0;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
.navbar{
    background: rgb(41, 35, 36);
    overflow: hidden;   
    float: left;
    width: 100%;
    box-shadow: -2px 3px 5px rgb(12, 36, 48);
}
.title1{
    float: left;
    text-align: center;
    margin: 20px;
    margin-right: 0px;
    color: rgba(255, 255, 255, 0.753);
    text-shadow: 2px 2px 4px #302f2f;
}
.title2{
    float: left;
    text-align: center;
    margin: 20px 5px 0px 0px;
    color: rgba(0, 255, 221, 0.459);
    text-shadow: 2px 2px 4px #302f2f;
}

.subtitle{
    float: left;
    text-align: center;
    margin-top: 15px;
}

.logout{
    float: right;
    text-align: center;
    font-size: 18px;
    margin-top: 0px;
}

.login {
    float: right;
    text-align: center;
    font-size: 18px;
    margin-top: 24px;
    color: rgb(226, 211, 211);
}
.profile {
    float: right;
    height: auto;
    margin-right: 25px;
}
.show-event-name{
    display: inline-block;
}
a{
    text-decoration: none;
    color: green;
}
.show-page{
    height: 100vh;
    width: 100%;
    background: rgba(9, 21, 44, 0.644);}
.events-title{
    padding: 15px 15px 15px 15px;
    background: rgba(204, 157, 57, 0.815);
    width: 100%;
    color: aliceblue;
    box-shadow: -2px 3px 3px rgb(12, 36, 48);

}
.js-more {
    color: rgb(207, 240, 237);
    padding: 15px;
    border-radius: 6px;
}
.js-more:hover {
    background-color: rgba(255, 255, 255, 0.171);
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: -2px 3px 5px rgb(12, 36, 48);
}

.delete {
    background: rgba(255, 0, 0, 0.52);
}
.event-title {
    color: rgb(124, 142, 241);
}
.event-list {
    display: inline-block;
    margin-top: 0px;
    margin-left: 0%;
    margin-right: 30px;
    width: 50%;
    background: rgba(9, 21, 44, 0.644);
    overflow-x: hidden;
    overflow-y: scroll;
    height: 806px;
    box-shadow: -2px 3px 3px rgb(12, 36, 48);

}

.location {
    font-style: italic;
    color: rgb(212, 167, 241);
}
.event-list::-webkit-scrollbar { 
    width: 0 !important 
}
.new-event-title{
    text-align: center;
    background: rgb(56, 177, 161, 0.815);
    padding: 10px 0px 10px 0px;
    margin: 0px 10px 0px 0px;
    width: 100%;
    box-shadow: -2px 3px 3px rgb(12, 36, 48);
}
.new-event-title:hover{
    cursor: pointer;
}
.event-form {
    float: right;
    margin-top: 10px;
    margin-right: 10%;
    padding: 0px 0px 0px 0px;
    background: rgba(29, 48, 85, 0.70);
    border-radius: 8px;
    align-content: center;
    overflow-x: hidden;
    width: 28%;
    box-shadow: -2px 3px 3px rgb(12, 36, 48);
    max-height: 500px;
}
.event-form.new-event-div{
    max-height: 0;
}
input {
    width: 70%;
    margin: 5px 0px 5px 55px;
    height: 20px;
    background-color: rgb(214, 210, 210);
    border: none;
    border-radius: 1px;
    box-shadow: -2px 3px 5px rgb(12, 36, 48);
}
input:focus, textarea:focus{
    background-color: rgb(143, 163, 180);
}
textarea{
    width: 70%;
    margin: 5px 0px 5px 55px;
    height: 100px;
    background-color: rgb(214, 210, 210);
    box-shadow: -2px 3px 5px rgb(12, 36, 48);
}
textarea::-webkit-scrollbar { 
    width: 0 !important 
}
label {
    margin-left: 55px;
}
.submit-btn{
    width: 80px;
    float: right;
    margin-right: 65px;
    padding: 5px;
    height: 30px;
    color:rgba(255, 255, 255, 0.849);
    background-color: rgb(116, 175, 116);
    box-shadow: -2px 3px 5px rgb(12, 36, 48);

}

.user-login-form{
    background: rgba(29, 48, 85, 0.70);
    align-content: center;
    height: 80vh;
    width: 60%;
    margin: auto;
    padding-top: 10px;
}

.login-title{
    background: rgb(88, 88, 128);
    padding-top: 20px;
    padding: 20px;
}

.login-input{
    width: 60%;
    margin: 15px 0px 0px 160px;
    height: 30px;
}

.login-label{
    margin-top: 20px;
    margin-left: 160px;
}
.login-btn{
    float: right;
    width: 80px;
    height: 30px;
    padding: 8px;
    margin-right: 200px;
}
.link.back {
    float: left;
}